{% extends "base.html" %}
{% block content %}
        <section>
            <h2>Welcome to Bon Vivant</h2>
            <p>Scent doesn't need a label. If you love it, that's enough.</p>
            <p>We're not guided by price tags or brand names. Every fragrance here is one we truly admire—scents we've lingered with, scents that moved us.</p>
            <p>Unisex, ageless, fearless. We choose only the ones that speak, softly or boldly, to something real inside.</p>
            <p>We believe perfume isn't just an accessory—it's an extension of the soul.</p>
            <p>You don't need to know the notes. Just trust your instinct. Choose the one you'd spray again, and again.</p>
            <p>This is our curated world of scent.</p>
            <p>We're not here to sell you a perfume.</p>
            <p>We're here to help you find who you want to be—today, or maybe tomorrow.</p>
        </section>
{% endblock %}


